<!-- Main Navigation -->
<div class="nav-container">
  <a href="/home"
    ><img
      class="logo"
      src="/Assets/images/arena229-white-330ppi.png"
      alt="Image of a concert and big screens"
  /></a>
  <nav class="main-nav">
    <ul class="main-nav-list">
      <li><a class="main-nav-link" href="/home">Home</a></li>
      <li><a class="main-nav-link" href="/about">About</a></li>
      <li><a class="main-nav-link" href="#">Contact</a></li>
      <li>
        <a class="main-nav-link nav-cta" href="/tournaments">Tournaments</a>
      </li>
      <% if(typeof displayName == 'string' && displayName) { %>

      <li>Welcome, <%= displayName %></li>
      <li>
        <a class="main-nav-link" href="/logout">
          <i class="fas fa-lg fa-sign-out-alt"></i> Logout</a
        >
      </li>
      <%} else { %>
      <li>
        <a href="/login" class="main-nav-link">
          <i class="fas fa-lg fa-sign-in-alt"></i> Login</a
        >
      </li>
      <% } %>
    </ul>
  </nav>
  <button class="btn-mobile-nav">
    <i class="fas fa-bars fa-3x icon-mobile-nav" name="menu-outline"></i>
    <i
      class="fas fa-times-circle fa-3x icon-mobile-nav"
      name="close-outline"
    ></i>
  </button>
</div>
