<%- include partials/header.ejs %>
<header class="banner">
<%- include partials/main_nav.ejs %>
</header>

<body>
  <section class="section-about generic-container grid grid--2-cols">
    <div class="about-image"><a href="/tournaments"><img src="Assets/images/arena1-01.jpg" style="width:30rem"></a></div>
      <div class="about-content">
        <div class="about-text">
          <h2>More About Us</h2>
          <h3>For Friends by Friends</h3>
          <p>Arena 229 was created by a group of friends that love to compete and Arena 229 is the product of their 
          companionship and share competitiveness.</p>
          <br>
          <h3>Our Services:</h3>
          <ul>
            <li>Tournament Creation</li>
            <li>Tournament Participation</li>
            <li>Bracket Management</li>
            <li>Long Lasting Memories!</li>
          </ul>
        </div>
    </div>
  </section>
</body>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>